<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Staff Appreciation</title>

    <!-- STYLING -->
    {% include 'template_styling.html' %}
</head>
<body class="bg-light">
    <!-- <nav class="navbar navbar-expand-lg py-3 bg-main">
        <div class="container-fluid w-75">
            <a class="navbar-brand text-primary" href="#">
                <img src="../static/images/star.png" alt="Bootstrap" width="30" height="24"> Staff Appreciation Program
            </a>
            <button class="navbar-toggler rounded" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon bg-main">...</span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggler">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link nav-active link-secondary" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link-secondary" aria-current="page" href="/badges">Send a Badge</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link-secondary" aria-current="page" href="#">Give Kudos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link-secondary" aria-current="page" href="#">My Kudos</a>
                    </li>
                </ul>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item d-flex">
                        <a class="nav-link link-secondary" href="#">Account</a>
                    </li>
                    <li class="nav-item d-flex">
                        <a class="nav-link link-secondary" href="#">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav> -->
    <nav class="vertical-nav d-flex flex-column justify-content-between bg-main">
        <ul class="list-unstyled px-2 py-3 text-center">
            <li class="mt-2 mb-3">
                <a class="nav-link link-secondary nav-active" href="#">
                    <div class="rounded-pill vertical-nav-icon w-75 mx-auto">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-door-fill my-2" viewBox="0 0 16 16">
                            <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z"/>
                        </svg>
                    </div>
                    Home
                </a>
            </li>
            <li class="mb-3">
                <a class="nav-link link-secondary" href="/badges">
                    <div class="rounded-pill vertical-nav-icon w-75 mx-auto">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-shield-fill-plus my-2" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 0c-.69 0-1.843.265-2.928.56-1.11.3-2.229.655-2.887.87a1.54 1.54 0 0 0-1.044 1.262c-.596 4.477.787 7.795 2.465 9.99a11.777 11.777 0 0 0 2.517 2.453c.386.273.744.482 1.048.625.28.132.581.24.829.24s.548-.108.829-.24a7.159 7.159 0 0 0 1.048-.625 11.775 11.775 0 0 0 2.517-2.453c1.678-2.195 3.061-5.513 2.465-9.99a1.541 1.541 0 0 0-1.044-1.263 62.467 62.467 0 0 0-2.887-.87C9.843.266 8.69 0 8 0zm-.5 5a.5.5 0 0 1 1 0v1.5H10a.5.5 0 0 1 0 1H8.5V9a.5.5 0 0 1-1 0V7.5H6a.5.5 0 0 1 0-1h1.5V5z"/>
                        </svg>
                    </div>
                    Send Badge
                </a>
            </li>
            <li class="mb-3">
                <a class="nav-link link-secondary" href="">
                    <div class="rounded-pill vertical-nav-icon w-75 mx-auto">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill my-2" viewBox="0 0 16 16">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                        </svg>
                    </div>
                    Give Kudos
                </a>
            </li>
            <li class="mb-3">
                <a class="nav-link link-secondary" href="">
                    <div class="rounded-pill vertical-nav-icon w-75 mx-auto">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-star-fill my-2" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5zM8.16 4.1a.178.178 0 0 0-.32 0l-.634 1.285a.178.178 0 0 1-.134.098l-1.42.206a.178.178 0 0 0-.098.303L6.58 6.993c.042.041.061.1.051.158L6.39 8.565a.178.178 0 0 0 .258.187l1.27-.668a.178.178 0 0 1 .165 0l1.27.668a.178.178 0 0 0 .257-.187L9.368 7.15a.178.178 0 0 1 .05-.158l1.028-1.001a.178.178 0 0 0-.098-.303l-1.42-.206a.178.178 0 0 1-.134-.098L8.16 4.1z"/>
                        </svg>
                    </div>
                    My Kudos
                </a>
            </li>
        </ul>
        <ul class="list-unstyled px-2 py-3 text-center">
            <li class="mb-3">
                <a class="nav-link link-secondary" href="">
                    <div class="rounded-pill vertical-nav-icon w-75 mx-auto">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle my-2" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                        </svg>
                    </div>
                    My Account
                </a>
            </li>
            <li class="mb-3">
                <a class="nav-link link-secondary" href="">
                    <div class="rounded-pill vertical-nav-icon w-75 mx-auto">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right my-2" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                            <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                        </svg>
                    </div>
                    Logout
                </a>
            </li>
        </ul>
    </nav>

    <main style="margin-left:9%; padding:1px 0px;">
        <!-- HIGHLIGHTS -->
        <section class="container w-75 my-5">
            <p class="fs-2">Highlights</p>
            <p>Check out these recent team Kudos!</p>
            <div>
                <!-- loop through kudos here -->
                <!-- Display the last 10 or so kudos -->
                <!-- Employees can "like" a kudos given to someone (cannot like kudos they've given) -->
            </div>
        </section>

        {# <!-- CHECK THESE OUT -->
        <!-- Display the top "liked" kudos -->#}
        <section>

        </section>
    

        <!-- FOOTER -->
        {% include 'template_footer.html' %}

    </main>

    <!-- SCRIPTS -->
    {% include 'template_scripts.html' %}
</body>
</html>