<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Staff Appreciation</title>

    <!-- STYLING -->
    {% include 'template_styling.html' %}
</head>
<body class="bg-light">
    <nav class="navbar navbar-expand-lg py-3 bg-main">
        <div class="container-fluid w-75">
            <a class="navbar-brand text-primary" href="#">
                <img src="../static/images/star.png" alt="Bootstrap" width="30" height="24"> Staff Appreciation Program
            </a>
            <button class="navbar-toggler rounded" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon bg-main">...</span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggler">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link nav-active link-secondary" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link-secondary" aria-current="page" href="/badges">Send a Badge</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link-secondary" aria-current="page" href="#">Give Kudos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link-secondary" aria-current="page" href="#">My Kudos</a>
                    </li>
                </ul>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item d-flex">
                        <a class="nav-link link-secondary" href="#">Account</a>
                    </li>
                    <li class="nav-item d-flex">
                        <a class="nav-link link-secondary" href="#">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <main>
        {# <!-- HIGHLIGHTS -->
        <!-- Display the last 10 or so kudos -->
        <!-- Employees can "like" a kudos given to someone (cannot like kudos they've given) -->#}
        <section class="w-75">
            <p class="fs-1">HIGHLIGHTS</p>
        </section>

        {# <!-- CHECK THESE OUT -->
        <!-- Display the top "liked" kudos -->#}
        <section>

        </section>
    </main>

    <!-- FOOTER -->
    {% include 'template_footer.html' %}

    <!-- SCRIPTS -->
    {% include 'template_scripts.html' %}
</body>
</html>