:root {
    --main: #FAFAFA;
    --light: #ebe8e6;  /*#e7e3df;*/
    --primary-light: #729db3;
    --primary: #336B87;
    --primary-dark: #274250;
    --secondary: #2a3132;
    --dark: #1e1e1e;
    --accent: #7e5f6d; /*#32202A;*/
    --shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    --nav-links: #838383;
}

/* main color styling */
.bg-main { background-color: var(--main) !important; }
.text-main { color: var(--main) !important; }
/* .btn-main {
    color: var(--dark);
    background-color: var(--main);
    border-color: var(--nav-links);
}
.btn-main:hover {
    color: var(--main);
    background-color: var(--primary);
    border-color: var(--primary);
} */

/* light color styling */
.bg-light { background-color: var(--light) !important; }

/* primary color styling */
.bg-primary { background-color: var(--primary) !important; }
.text-primary { color: var(--primary)  !important; }
.border-primary { border-color: var(--primary) !important; }
.btn-outline-primary {
    color: var(--primary);
    border-color: var(--primary);
}
.btn-outline-primary:hover {
    color: var(--main);
    background-color: var(--primary);
    border-color: var(--primary);
}
.btn-primary {
    color: var(--main);
    background-color: var(--primary);
    border-color: var(--primary);
}
.btn-primary:hover {
    color: var(--main);
    background-color: var(--primary-dark);
    border-color: var(--primary);
}
.link-primary { color: var(--primary-light) !important; }
.link-primary:hover, .link-primary:focus { color: var(--primary) !important; }

/* secondary color styling */
.bg-secondary { background-color: var(--secondary) !important; }
.text-secondary { color: var(--secondary) !important; }
.border-secondary { border-color: var(--secondary) !important; }
.btn-secondary {
    color: var(--main);
    background-color: var(--secondary);
    border-color: var(--secondary);
}
.btn-secondary:hover {
    color: var(--accent);
    background-color: var(--dark);
    border-color: var(--dark);
}

/* dark color styling */
.bg-dark { background-color: var(--dark) !important; }
.text-dark { color: var(--dark) !important; }

/* accent color styling */
.bg-accent { background-color: var(--accent) !important; }
.text-accent { color: var(--accent) !important; }


/* nav bar */
.nav-link {
    color: var(--nav-links);
    border-bottom: .25rem solid transparent;
}
.nav-link:hover, .nav-link:focus {
    color: var(--primary);
    border-bottom-color: var(--primary);
}
.nav-link + .nav-link { margin-left: 1rem; }
.nav-active {
    color: var(--primary);
    border-bottom-color: var(--primary);
}

.shadow { box-shadow: var(--shadow); }

.form-control:focus {
    /* color: #212529;
    background-color: #fff; */
    border-color: var(--primary-dark);
    /* outline: 0; */
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.file-preview {
    width: 15rem;
    /* height: 40%; */
}

/* footer */
.footer-logo{
    width: 90px;
    height: 90px;
}
.footer-social { width: 30px; }